<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.microposts.blank? %>
<p>
  <strong>Post</strong>
  <%= 'You have no posts'  %>
  <% else %>
  <%= @user.microposts.first.content %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
